*/.DS_Store
ImageOCR/.DS_Store
ImageOCR/.DS_Store
ImageOCR/.DS_Store
*.eps
*.psd
*.json
ImageOCR/imageOCR/imgs/.DS_Store
ImageOCR/imageOCR/.DS_Store
ImageOCR/.DS_Store
ImageOCR/imageOCR/Utilities/.DS_Store
ImageOCR/.DS_Store
.DS_Store
